<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Invoice Title</mat-label>
    <input matInput #txtTitle>
</mat-form-field>
<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Invoice Number</mat-label>
    <input matInput type="number" value="0" min="0" #txtInvoiceNumber>
</mat-form-field>
<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Description</mat-label>
    <input matInput #txtDescription>
</mat-form-field>
<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Invioce Type</mat-label>
    <input matInput #txtInvoiceType>
</mat-form-field>
<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Expirtaion Date</mat-label>
    <input matInput #txtExpirtaion>
</mat-form-field>


<button mat-raised-button color="accent" class="button"
    (click)="create(txtTitle, txtInvoiceNumber, txtDescription, txtInvoiceType, txtExpirtaion)">Accent</button>