<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Invoice Title</mat-label>
    <input matInput #txtTitle>
</mat-form-field>

<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Invoice Number</mat-label>
    <input matInput type="number" value="0" min="0" #txtInvoiceNumber>
</mat-form-field>

<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Description</mat-label>
    <input matInput #txtDescription>
</mat-form-field>

<mat-form-field appearance="fill" class="create-invoice">
    <mat-label>Invioce Type</mat-label>
    <input matInput #txtInvoiceType>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Choose expiration date</mat-label>>
    <input matInput #txtExpiration>
    <mat-hint>MM/DD/YYYY</mat-hint>
  </mat-form-field>

 <mat-radio-group labelPosition="before" aria-label="Select an option" class="radio-group">
    <label class="label_title">Fatura Durumu</label>
    <mat-radio-button value="true">Ödenmiş</mat-radio-button>
    <mat-radio-button value="false">Ödenmemiş</mat-radio-button>
    <input matInput #txtisActive>
  </mat-radio-group> 

<button mat-raised-button color="accent" class="button"
    (click)="create(txtTitle, txtInvoiceNumber, txtDescription, txtInvoiceType, txtExpiration, txtisActive)">Create Invoice</button>

    <app-file-upload [options]="fileUploadOptions"></app-file-upload>